<h1>Create a Team and Heroes!</h1>

<form method="POST" action="/team">
  <h3>Team Name: <input type="text" id="team[name]" name="team[name]"/></h3>
  <h3>Team Motto: <input type="text" id="team[moto]" name="team[motto]"/></h3><br>

  <h2>Hero 1</h2><br>
  <h3>Hero's Name: <input id="superhero1_name" type="text" name="team[superheros][][name]"></h3>
  <h3>Hero's Power: <input id="superhero1_power" type="text" name="team[superheros][][power]"></h3>
  <h3>Hero's Biography: <input id"superheror1_bio" type="text" name="team[superheros][][bio]"></h3><br>

  <h2>Hero 2</h2><br>
  <h3>Hero's Name: <input id="superhero2_name" type="text" name="team[superheros][][name]"></h3>
  <h3>Hero's Power: <input id="superhero2_power" type="text" name="team[superheros][][power]"></h3>
  <h3>Hero's Biography: <input id="superhero2_bio" type="text" name="team[superheros][][bio]"></h3><br>

  <h2>Hero 3</h2><br>
  <h3>Hero's Name: <input id="superhero3_name" type="text" name="team[superheros][][name]"></h3>
  <h3>Hero's Power: <input id="superhero3_power" type="text" name="team[superheros][][power]"></h3>
  <h3>Hero's Biography: <input id="superhero3_bio" type="text" name="team[superheros][][bio]"></h3>

  <input type="submit" value="Submit" id="submit">
</form>
