<h1>Create a Team and Heroes!</h1>

<form method="POST" action="/team">
  <p>Team Name:<input type="text" name="team[name]"/></p>
  <p>Team Motto:<input type="text" name="team[motto]"/></p>

  <h2>Hero 1</h2><br>
  <h3><input type="text" name="team[superhero][][name]"></h3>
  <h3><input type="text" name="team[superhero][][power]"></h3>
  <h3><input type="text" name="team[superhero][][bio]"></h3>

  <h2>Hero 2</h2><br>
  <h3><input type="text" name="team[superhero][][name]"></h3>
  <h3><input type="text" name="team[superhero][][power]"></h3>
  <h3><input type="text" name="team[superhero][][bio]"></h3>

  <h2>Hero 3</h2><br>
  <h3><input type="text" name="team[superhero][][name]"></h3>
  <h3><input type="text" name="team[superhero][][power]"></h3>
  <h3><input type="text" name="team[superhero][][bio]"></h3>

  <input type="submit" value="Submit">
</form>
