<h1>Create a Team and Heroes!</h1>

<form method="POST" action="/team">
  <h3>Team Name:<input type="text" name="team[name]"/></h3>
  <h3>Team Motto:<input type="text" name="team[motto]"/></h3><br>

  <h2>Hero 1</h2><br>
  <h3>Hero's Name: <input type="text" name="team[superhero][][name]"></h3>
  <h3>Hero's Power: <input type="text" name="team[superhero][][power]"></h3>
  <h3>Hero's Biography: <input type="text" name="team[superhero][][bio]"></h3><br>

  <h2>Hero 2</h2><br>
  <h3>Hero's Name:<input type="text" name="team[superhero][][name]"></h3>
  <h3>Hero's Power:<input type="text" name="team[superhero][][power]"></h3>
  <h3>Hero's Biography:<input type="text" name="team[superhero][][bio]"></h3><br>

  <h2>Hero 3</h2><br>
  <h3>Hero's Name:<input type="text" name="team[superhero][][name]"></h3>
  <h3>Hero's Power:<input type="text" name="team[superhero][][power]"></h3>
  <h3>Hero's Biography:<input type="text" name="team[superhero][][bio]"></h3>

  <input type="submit" value="Submit">
</form>
