<h1>Create a Team and Heroes!</h1>

<form method="POST" action="/team">
  <p><input type="text" name="team[name]"/>Team Name:</p>
  <p><input type="text" name="team[motto]"/>Team Motto:</p>

  <h2>Hero 1</h2><br>
  <h3><input type="text" name="team[superhero][][name]"></h3>
  <h3><input type="text" name="team[superhero][][power]"></h3>
  <h3><input type="text" name="team[superhero][][bio]"></h3>

  <h2>Hero 2</h2><br>
  <h3><input type="text" name="team[superhero][][name]"></h3>
  <h3><input type="text" name="team[superhero][][power]"></h3>
  <h3><input type="text" name="team[superhero][][bio]"></h3>

  <h3>Hero 3</h3>
  <label for="ship_name_2">Name</label><br>
  <input id="ship_name_2" type="text" name="pirate[ships][][name]" /><br>
  <label for="ship_type_2">Type</label></br>
  <input id="ship_type_2" type="text" name="pirate[ships][][type]" /><br>
  <label for="ship_booty_2">Booty</label><br>
  <input id="ship_booty_2" type="text" name="pirate[ships][][booty]" /><br>
  <input type="submit" value="Submit">
</form>
